<header class="site-header">

    <div class="wrapper">
        <div class="wrapper-content">
            <img src="/img/header.png">
            <div class="row">
                <div class="col-sm-6">
                    <a class="site-title" href="{{ site.baseurl }}/">{{ site.name }}</a>
                </div>
                <div class="col-sm-6">
                    <span class="site-info">
                        Blog of Alex Dementsov<br>
                        Discovering cool technologies
                    </span>
                </div>
            </div>
        </div>
    </div>

</header>
