
@import url(http://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

.site-header,
.site-footer {
  font-family: Lato, Helvetica, Arial, sans-serif;
}

.site-title {
  font-weight: bold;
  text-decoration: none;
}
.rss img {
  margin-top: 12px;
}

.site-info {
  float: right;
  text-align: right;
  line-height: 1.3;
  margin-top: 5px;
}

a:hover {
  color: #1d65c8;
}

.articles hr {
  margin-bottom: 20px;
  border-bottom: 1px dashed;
  border-top: 0px;
  color: #ccdcef
}

.highlight pre {
  max-height: 400px;
}

.lineno {
  text-align: right;
  padding-right: 0.6em;
  display:inline-block;
  border-right: solid 1px #e4e4e4 !important;
  color: #afafaf;
}

.post-content h2 {
  font-size: 1.5em;
}

.post-content h3 {
  font-size: 1.3em;
  font-weight: bold;
}

.site-header img {
  -webkit-border-bottom-right-radius: $header-image-radius;
     -moz-border-bottom-right-radius: $header-image-radius;
          border-bottom-right-radius: $header-image-radius;
  -webkit-border-bottom-left-radius: $header-image-radius;
     -moz-border-bottom-left-radius: $header-image-radius;
          border-bottom-left-radius: $header-image-radius;
}

img.avatar {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  //width: 72px;
  //height: 72px;
}

// Social
.fb-like {
  position: relative;
  vertical-align: top;
}

.twitter-share-button {
  position: relative;
  vertical-align: middle;
}

// Bootstrap fixes
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}