
a:hover {
  color: #1d65c8;
}

.articles hr {
  margin-bottom: 20px;
  border-bottom: 1px dashed;
  border-top: 0px;
  color: #ccdcef
}

.highlight pre {
  max-height: 400px;
}

.lineno {
  text-align: right;
  padding-right: 0.6em;
  display:inline-block;
  border-right: solid 1px #e4e4e4 !important;
  color: #afafaf;
}

.post-content h2 {
  font-size: 1.5em;
}

.post-content h3 {
  font-size: 1.3em;
  font-weight: bold;
}

.site-header img {
  -webkit-border-bottom-right-radius: $header-image-radius;
     -moz-border-bottom-right-radius: $header-image-radius;
          border-bottom-right-radius: $header-image-radius;
  -webkit-border-bottom-left-radius: $header-image-radius;
     -moz-border-bottom-left-radius: $header-image-radius;
          border-bottom-left-radius: $header-image-radius;
}

// Social
.fb-like {
  position: relative;
  vertical-align: top;
}

.twitter-share-button {
  position: relative;
  vertical-align: middle;
}

// Bootstrap fixes
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}